
/* 1. Marrom expresso: #3E2723
2. Bege cappuccino: #D2B48C
3. Creme latte: #F5F5F5
4. Ocre café: #795548
5. Dourado caramelo: #FFD700 */

@font-face  {
    font-family: 'coffee';
    src: url('Coffee Show.otf');
}
@font-face  {
    font-family: 'coffee2';
    src: url('Merienda-VariableFont_wght.ttf');
}
/* ~~~~~~~~~ANIMACOES~~~~~~~~~~ */
@keyframes RIGTH {
    from{
        opacity: 0;
        
        transform: translateY(-100vh) translateX(500px);
    }
    to{
        opacity: 1;
        translateY(-100vh)
        transform: translateX(0);
    }
}
@keyframes textleft{from{transform:translateX(-100vw);opacity:0}to{transform:translateX(0);opacity:1}}
@keyframes textright{from{transform:translateX(100vw);opacity:0}to{transform:translateX(0);opacity:1}}

/*~~~~~~~~~~~~~~~~~ GERAL ~~~~~~~~~~~~~~~~~~*/
*{padding: 0px;margin: 0px; font-family: Arial, Helvetica, sans-serif; text-justify: auto;}
body, html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: #B18659;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    height: 100%;
}
section, aside{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: coffee;
    font-size: 3.7em;
    letter-spacing: 3.5px;
    color: #3E2318;
    text-shadow: 0px 0px 10px #d2b88ce7;
}
h2{
    font-family: coffee2;
    color: #3E2318;
    text-shadow: 0px 0px 10px #d2b88ce7;
}
p{
    font-family: coffee2;
    font-size: 1em;
}
/*~~~~~~~~~~~~~~~~~ Web1 ~~~~~~~~~~~~~~~~~~*/
#NAV-MENU{
    display: none;
    width: 185px;
    top: 10;
    left: 85%;
    transform: translateY(-100vh) translateX(-200px);
    position: absolute;
    z-index: 2;
}
a{text-decoration: none;color: #3E2318;font-family: coffee2;}
#web1 a{color: #F5F5F5 ;text-shadow: 1px 1px 5px #3e241ade;}
nav > ul{
    list-style: none;
}
nav > ul > li{
    white-space: nowrap;
    font-size: 1.2em;
    background: #b18b5932;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #3e241abe;
    backdrop-filter: blur(5px) ;
}
nav > ul > li > a:visited{
    list-style: none;
    text-decoration:none;
    color: #3E2318;
}
#menu{
    left: 85%;
    margin-top: 25px;
    transform: translateY(-100vh) scale(1.6);
    position: sticky;
    z-index: 3;    
}
#menu01{transform: translateY(-50px) translateX(-15px);width: 200px;animation: RIGTH 0.5s ease-out;}
#menu02{transform: translateY(-45px) translateX(-50px);animation: RIGTH 0.6s ease-out;}
#menu03{transform: translateY(-35px) translateX(-55px);animation: RIGTH 0.7s ease-out;}
#menu04{transform: translateY(-25px) translateX(-20px);animation: RIGTH .8s ease-out;}
#menu05{transform: translateY(-20px) translateX(30px);animation: RIGTH .9s ease-out;}
header{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#web1{
    position: relative;
    text-align: center;
    background: #B18659;
   
}
#web1 p{
    font-size: 1.2em;
    text-shadow: 1px 1px 5px #3e241ade;
    color: #D2B48C ;
    
}
.text-back{
    margin: 5px;
    padding: 5px;
    background: #b18b5932;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #3e241abe;
    backdrop-filter: blur(5px) ;
}
#web1 video{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
/*~~~~~~~~~~~~~~~~~ Web2 ~~~~~~~~~~~~~~~~~~*/
#web2{background-color: #F5F5F5 ;}
#web2 h2, #web3 h2, #web5 h2{
    text-align: center;
    margin: 25px;
    color: #3E2318;
}
#web2 h2{margin-top: 5px;transform: translateY(-39px);}
#web2 p, #web3 p, #web4p, #web5 p{
    max-width: 350px;
    margin: 10px;
    padding: 10px;
    margin: auto;
    
}
/*~~~~~~~~~~~~~~~~~ Web3 ~~~~~~~~~~~~~~~~~~*/
#web3{background: #B18659; padding: 10px 0px;}
.gif{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 10px 5px;
}
#web3 p{color: #F5F5F5;text-shadow: 1px 1px 5px #735a3add;}
/*~~~~~~~~~~~~~~~~~ ASIDE ~~~~~~~~~~~~~~~~~~*/
#guia{
    width: 100%;
}
aside article{
    height: 200px;
    display: flex;
    overflow: scroll;
    margin: 15px 0px;
}
.produto {
    width: 150px;
    margin: 20px;
    border-radius: 5px;
}
.produto:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
/*~~~~~~~~~~~~~~~~~ Web4 ~~~~~~~~~~~~~~~~~~*/
#web4{
    min-height: 100vh;
    background: #B18659;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
}
#web4 article p , h2, h3{
    text-align: center;
    color: #F5F5F5;
}
#web4 article h2{
    margin: 20px;
    color: C4B49D;
}

#web4-container{
    width: 100%;
    position: absolute;
    top: 50%;    
    transform: translateY(-50%);
}
  .embed-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Proporção para vídeos 16:9, ajuste conforme necessário */
  }

  .embed-responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
#web4-bloco2{
    display: block;
}
#web4-bloco2{display: none;}
.trocar{
    margin: 5px auto;
    text-transform: uppercase;
    font-family: coffee;
    font-size: 25px;
    letter-spacing: 3px;
    color: #3E2318;
}
.trocar:hover{
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}
/*~~~~~~~~~~~~~~~~~ Web5 ~~~~~~~~~~~~~~~~~~*/
#web5 p{font-size: 1.1em;}
#web5 h2{text-transform: uppercase;}
#web5{min-height: 100vh;background: #B18659;}
#web5 div{
    display: flex;
    padding: 5px;
    margin: 150px auto;
    background: #B18659;
}
#web5 img{
    box-shadow: 2px 2px 5px #614c31cb;
}
.tipo-cafe{
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 5px;
    border-radius: 20px;
}
#web5 hr{
    background: #3E2318;
}
.left{
    float: right;
    width: 150px;
    height: 150px;
    margin: 0px 5px 0px 0px;
    border-radius: 20px;
    animation: textright 1s ease-in-out;
    animation-timeline:view();
    animation-range:cover 0% cover 30%;
}
.img-left{
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 5px;
    border-radius: 20px;
    animation: textleft 1s ease-in-out;
    animation-timeline:view();
    animation-range:cover 0% cover 30%;
}
.textright{
    animation: textright 1s ease-in-out;
    animation-timeline:view();
    animation-range:cover 0% cover 30%;
}
.text-left{
    animation: textleft 1s ease-in-out;
    animation-timeline:view();
    animation-range:cover 0% cover 30%;
}
